<!--User infoの部分テンプレート-->

<h2>User info</h2>
  <thead>
    <tr>
       <%= image_tag @user.get_profile_image("100x100") %>
    </tr>
  </thead>

  <table class="table">
    <tbody>
      <tr>
        <th>name</th>
        <th><%= user.name %></th><!--ユーザー名表示-->
      </tr>
      <tr>
        <th>introduction</th><!--自己紹介文-->
        <th><%= user.introduction %></th>
      </tr>

      <tr>
        <th colspan="2">
         <!--編集画面へ-->
           <%= link_to  edit_user_path(user) ,class:"btn btn-out-line-secondary btn-block" do %>
            <span class="fas fa-user-cog" aria-hidden="true"></span>
           <% end %>
        </th>
      </tr>
     </tbody>
  </table>