 <!--サイドバー-->
<div class="row">
  <div class="col-xs-3">
    <%= render 'users/userinfo', user: @user %> <!--User infoの部分テンプレート-->
    <%= render 'books/newbook', book: @book %> <!--New bookの部分テンプレート-->
  </div>
</div>
<h1>Users#index</h1>

